body {
    background-color: darkslategrey;
  }

footer {
    background-color: darkslategray;
}

button {
    background-color: rgb(194, 194, 194);
}

continue {
    background-color: rgb(194, 194, 194);
}